@import url(featured.css);
@import url(video.css);

:root{
	--red-logo: #be0b0b;
	--dim-white: rgb(197, 197, 177);
	--highlight-white:white;

}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration: none;
}

body{
	font-family: consolas;
	background-color: black;
	color:white;
	border:1px solid pink;
}

header .container{
	display:flex;
	align-items: center;
	justify-content: space-between;
}
header .logo{
	color:var(--red-logo);
	font-size:40px;
	margin-left:20px;
}
nav a{
	margin-right: 10px;
	color:var(--dim-white);
}
nav a:hover{
	color:var(--highlight-white);
}