*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration: none;
}

body{
	font-family: consolas;
	background-color: black;
}

header{
	display:flex;
	align-items: center;
	justify-content: space-between;
}
header h2{
	color:#be0b0b;
	font-size:40px;
}
nav a{
	margin-right: 10px;
	color:rgb(197, 197, 177)
}
nav a:hover{
	color:white;
}