*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    height:100vh;
    width:100vw;
}

.video-container{
    position:relative;
    width:100vw;
    height:100vh;
}
.video-player{
    /* visibility: hidden; */
    width:100%;
    height:100%;
    background-color: black;
}
.video-controls.container{
    position:absolute;
    width:  100%;
    height: 100%;
	z-index:1; /*para sobrepor o video-player*/
    /*background:pink;*/
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	align-items:center;
}
.video-controls #comment-container {
	visibility:hidden;
	position:relative;	
	width:300px;
	height:150px;
	/* border:1px solid white; */
	margin-bottom:20px;
	display: flex;
	flex-direction: column;
}
#comment-container:focus{
	border:3px solid lightblue;
}
#comment-container .wrapper{
	width:100%;
	height:30%;
	display: flex;
}
#comment-container textarea:focus{
	/* background:red; */
}
#comment-container textarea{
	width:100%;
	height:70%;
	resize:none;
	background:rgba(0,0,0, 0.4);
	color:rgb(219,219,219);
	outline:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border-radius:10px;
}
#comment-container .button{
	border-radius:10px;
	/* background-color:pink; */
}
#comment-container input:focus{
	/* background:yellow; */
}
#comment_send_button{
	width:70%;
}
#comment_cancel_button{
	width:30%;
}
.video-menu{
    position:relative;
    /* display: flex; */
    padding-left:20px;
	padding-right:20px;
    width:100%;
    height:80px;
    bottom:0;
    /* background:red; */
}
.timeline-group{
	position:relative;
	display:flex;
    width:100%;
    height:20%;
    /* background:green; */
	text-align:center;
}
.timeline-group #progress-bar__container{
	position:relative;
	display: flex;
	align-items: center;
    width: 95%;
    height: 100%;
}
.timeline-group #progress-bar__container:hover > #fixed-bar{
	outline: 1px solid gray;
}
.timeline-group #progress-bar__container:hover > #progress-bar{
	outline: 1px solid red;
}
.timeline-group #fixed-bar{
	width:100%;
	height: 4px;
	background: gray;
}
.timeline-group #progress-bar{
	position:absolute;
	/* top:0; */
	width:0;
	height:4px;
	background:red;
}

#progress-bar #progress-bar-ball{
	/* content:""; */
	border-radius:20px;
	background:red;
	position:absolute;
	right:-10px;
	top:-8px;
	width:20px;
	height:20px;
	z-index:2;
	transform: scale(0.85);
}
#progress-bar #progress-bar-ball:hover{
	transform:scale(1);
	/* background:blue; */
	transition: all 0.2s;
}
.timeline-group #remaining-time{
	position:absolute;
	right:0;
	float:right;
	width:5%;
	height:100%;
	/* background:brown; */
	display:flex;
	align-items:center;
	justify-content:center;
}

#remaining-time-span{
	color:white;
	font-size:14px;
}
.buttons-group{
	width:100%;
	height:80%;
	/* background:blue; */
	display:flex;
	padding-bottom:5px;
}
.buttons-group .buttons-container{
	position:relative;
	left: -15px;
	background:purple;
	height:100%;
	width:20%;
	display:flex;
	align-items: center;
	overflow-y:hidden;
}
.buttons-group .button{
	position: relative;
	width:50px;
	height:100%;
	/* background:black; */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .4s ease;
	overflow:hidden; /*evita que os spans ultrapassem o tamanho do button*/
	border:1px solid white;
}
.buttons-group .button:hover{
	cursor:pointer;
}
.buttons-group .button span{
	position:absolute;
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid blue;*/ 
}
.buttons-group .button span:hover{
	transform: scale(1.2);
	transition: all .4s ease;
}
/*---- OVERLAY CORRECTIONS --------*/
#play-span{
	transition: all .4s ease, visibility 0s ease .1s;
}

#pause-span{
	visibility:hidden;
	transition:all .4s ease, visibility 0s ease .1s;
}
/*---- SVG SIZE CORRECTIONS -------*/
/*FOWARD & REPLAY ICONS*/
#foward-span svg, #replay-span svg{
	transform: scale(1.8);
}
/*PAUSE ICON*/
#pause-span svg{
	transform: scale(0.8);
}
/* Speedometer */
#speed-span svg{
	transform: scale(0.7);
}
#fullscreen-span svg{
	transform: scale(0.5) scaleX(1.3);
}
/*---- ADD COMMENT ------------------*/
#comment-btn{
    /*position:relative;*/
    margin:auto;
}

#comment-span svg{
	transform:scale(0.7);
}
#comment-btn img{
    height:20px;
    /* margin-bottom: 5px; */
}
.buttons-group .right-buttons{
	width:20%;
	height:100%;
	background:orange;
}