*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    height:100vh;
    width:100vw;
}

.video-container{
    position:relative;
    width:100vw;
    height:100vh;
}
.video-player{
    /* visibility: hidden; */
    width:100%;
    height:100%;
    background-color: black;
}
.video-controls.container{
    position:absolute;
    width:  100%;
    height: 100%;
	z-index:1;
    /*background:pink;*/
}
.video-menu{
    position:absolute;
    /* display: flex; */
    
    width:100%;
    height:80px;
    bottom:0;
    background:red;
}
.timeline-group{
	position:relative;
	display:flex;
    width:100%;
    height:25%;
    background:green;
	text-align:center;
}
.timeline-group #progress-bar__container{
    width: 95%;
    height: 100%;
}

.timeline-group #progress-bar{
	width:0;
	height:50%;
	background:yellow;
}
.timeline-group .remaining-time{
	position:absolute;
	right:0;
	float:right;
	width:5%;
	height:100%;
	background:brown;
}
.buttons-group{
	width:100%;
	height:75%;
	background:blue;
	display:flex;
}
.buttons-group .left-buttons{
	background:purple;
	height:100%;
	width:20%;
	display:flex;
}
.buttons-group .button{
	width:30px;
	height:30px;
	background:black;
}

.comment-btn{
    /*position:relative;*/
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    background:red;
    width:100px;
    height: 40px;
}
.comment-btn img{
    height:20px;
    /* margin-bottom: 5px; */
}
.buttons-group .right-buttons{
	width:20%;
	height:100%;
	background:orange;
}